script(src='/javascripts/html5shiv.js')
script(src='/javascripts/reveal/reveal.js')

script(src='/socket.io/socket.io.js')
script.
  var socket = io('http://localhost:3000');
  socket.on('change_slide', function (data) {
    Reveal.slide(data.slide)
  });
