link(rel='stylesheet', href='/stylesheets/reveal/reveal.css')
link#theme(rel='stylesheet', href='/stylesheets/reveal/theme/white.css')
link(rel='stylesheet', href='/stylesheets/zenburn/zenburn.css')
script(src='/javascripts/head.min.js')
