.reveal
  // Any section element inside of this container is displayed as a slide
  .slides
    section
      h1 Reveal.js
      h3 The HTML Presentation Framework
      p
        small
          | Created by
          a(href='http://hakim.se') Hakim El Hattab
          |  /
          a(href='http://twitter.com/hakimel') @hakimel
    section
      h2 Hello There
      p
        | reveal.js enables you to create beautiful interactive slide decks using HTML. This presentation will show you examples of what it can do.
    // Example of nested vertical slides
    section
      section
        h2 Vertical Slides
        p Slides can be nested inside of each other.
        p
          | Use the
          em Space
          |  key to navigate through all slides.
        br
        a.navigate-down(href='#')
          img(width='178', height='238', data-src='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png', alt='Down arrow')
      section
        h2 Basement Level 1
        p
          | Nested slides are useful for adding additional detail underneath a high level horizontal slide.
      section
        h2 Basement Level 2
        p That&apos;s it, time to go back up.
        br
        a(href='#/2')
          img(width='178', height='238', data-src='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png', alt='Up arrow', style='-webkit-transform: rotate(180deg);')
    section
      h2 Slides
      p
        | Not a coder? Not a problem. There&apos;s a fully-featured visual editor for authoring these, try it out at
        a(href='http://slides.com', target='_blank') http://slides.com
        | .
    section
      h2 Point of View
      p
        | Press
        strong ESC
        |  to enter the slide overview.
      p
        | Hold down alt and click on any element to zoom in on it using
        a(href='http://lab.hakim.se/zoom-js') zoom.js
        | . Alt + click anywhere to zoom back out.
    section
      h2 Touch Optimized
      p
        | Presentations look great on touch devices, like mobile phones and tablets. Simply swipe through your slides.
        ```
    section
      section#fragments
        h2 Fragments
        p Hit the next arrow...
        p.fragment ... to step through ...
        p
          span.fragment ... a
          span.fragment fragmented
          span.fragment slide.
        aside.notes
          | This slide has fragments which are also stepped through in the notes window.
      section
        h2 Fragment Styles
        p There&apos;s different types of fragments, like:
        p.fragment.grow grow
        p.fragment.shrink shrink
        p.fragment.roll-in roll-in
        p.fragment.fade-out fade-out
        p.fragment.current-visible current-visible
        p.fragment.highlight-red highlight-red
        p.fragment.highlight-blue highlight-blue
    section#transitions
      h2 Transition Styles
      p
        | You can select from different transitions, like:
        br
        a(href='?transition=none#/transitions') None
        |  -
        a(href='?transition=fade#/transitions') Fade
        |  -
        a(href='?transition=slide#/transitions') Slide
        |  -
        a(href='?transition=convex#/transitions') Convex
        |  -
        a(href='?transition=concave#/transitions') Concave
        |  -
        a(href='?transition=zoom#/transitions') Zoom
    section#themes
      h2 Themes
      p
        | reveal.js comes with a few themes built in:
        br
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/black.css'); return false;") Black (default)
        |  -
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/white.css'); return false;") White
        |  -
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/league.css'); return false;") League
        |  -
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/sky.css'); return false;") Sky
        |  -
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/beige.css'); return false;") Beige
        |  -
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/simple.css'); return false;") Simple
        br
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/serif.css'); return false;") Serif
        |  -
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/night.css'); return false;") Night
        |  -
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/moon.css'); return false;") Moon
        |  -
        a(href='#', onclick="document.getElementById('theme').setAttribute('href','css/theme/solarized.css'); return false;") Solarized
    section
      section(data-background='#dddddd')
        h2 Slide Backgrounds
        p
          | Set
          code data-background=&quot;#dddddd&quot;
          |  on a slide to change the background color. All CSS color formats are supported.
        a.navigate-down(href='#')
          img(width='178', height='238', data-src='https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png', alt='Down arrow')
      section(data-background='https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png')
        h2 Image Backgrounds
        pre.

      section(data-background='https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png', data-background-repeat='repeat', data-background-size='100px')
        h2 Tiled Backgrounds
        pre.

      section(data-background-video='https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm', data-background-color='#000000')
        div(style='background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;')
          h2 Video Backgrounds
          pre.

    section(data-transition='slide', data-background='#4d7e65', data-background-transition='zoom')
      h2 Background Transitions
      p
        | Different background transitions are available via the backgroundTransition option. This one&apos;s called &quot;zoom&quot;.
      pre.

    section(data-transition='slide', data-background='#b5533c', data-background-transition='zoom')
      h2 Background Transitions
      p
        | You can override background transitions per-slide.
      pre.

    section
      h2 Pretty Code
      pre.

      p
        | Code syntax highlighting courtesy of
        a(href='http://softwaremaniacs.org/soft/highlight/en/description/') highlight.js
        | .
    section
      h2 Marvelous List
      ul
        li No order here
        li Or here
        li Or here
        li Or here
    section
      h2 Fantastic Ordered List
      ol
        li One is smaller than...
        li Two is smaller than...
        li Three!
    section
      h2 Tabular Tables
      table
        thead
          tr
            th Item
            th Value
            th Quantity
        tbody
          tr
            td Apples
            td $1
            td 7
          tr
          tr
            td Lemonade
            td $2
            td 18
          tr
          tr
            td Bread
            td $3
            td 2
          tr
    section
      h2 Clever Quotes
      p
        | These guys come in two forms, inline:
        q(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
          | &ldquo;The nice thing about standards is that there are so many to choose from&rdquo;
        |  and block:
      blockquote(cite='http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations')
        | &ldquo;For years there has been a theory that millions of monkeys typing at random on millions of typewriters would
        | reproduce the entire works of Shakespeare. The Internet has proven this theory to be untrue.&rdquo;
    section
      h2 Intergalactic Interconnections
      p
        | You can link between slides internally,
        a(href='#/2/3') like this
        | .
    section
      h2 Speaker View
      p
        | There&apos;s a
        a(href='https://github.com/hakimel/reveal.js#speaker-notes') speaker view
        | . It includes a timer, preview of the upcoming slide as well as your speaker notes.
      p
        | Press the
        em S
        |  key to try it out.
      aside.notes
        | Oh hey, these are some notes. They&apos;ll be hidden in your presentation, but you can see them if you open the speaker notes window (hit &apos;s&apos; on your keyboard).
    section
      h2 Export to PDF
      p
        | Presentations can be
        a(href='https://github.com/hakimel/reveal.js#pdf-export') exported to PDF
        | , here&apos;s an example:
      iframe(src='//www.slideshare.net/slideshow/embed_code/42840540', width='445', height='355', frameborder='0', marginwidth='0', marginheight='0', scrolling='no', style='border:3px solid #666; margin-bottom:5px; max-width: 100%;', allowfullscreen='')
    section
      h2 Global State
      p
        | Set
        code data-state=&quot;something&quot;
        |  on a slide and
        code &quot;something&quot;will be added as a class to the document element when the slide is open. This lets youapply broader style changes, like switching the page background.
    section(data-state='customevent')
      h2 State Events
      p
        | Additionally custom events can be triggered on a per slide basis by binding to the
        code data-state
        |  name.
      pre.

    section
      h2 Take a Moment
      p
        | Press B or . on your keyboard to pause the presentation. This is helpful when you&apos;re on stage and want to take distracting slides off the screen.
    section
      h2 Much more
      ul
        li Right-to-left support
        li
          a(href='https://github.com/hakimel/reveal.js#api') Extensive JavaScript API
        li
          a(href='https://github.com/hakimel/reveal.js#auto-sliding') Auto-progression
        li
          a(href='https://github.com/hakimel/reveal.js#parallax-background') Parallax backgrounds
        li
          a(href='https://github.com/hakimel/reveal.js#keyboard-bindings') Custom keyboard bindings
    section(style='text-align: left;')
      h1 THE END
      p
        | -
        a(href='http://slides.com') Try the online editor
        br-
        a(href='https://github.com/hakimel/reveal.js') Source code &amp; documentation
